/* Styling the progress info container */
.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }
  
  .circularProgress {
    margin-bottom: 15px;
  }
  
  .message {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2c3e50; /* Dark color */
    text-align: center;
  }
  