.appBar {
  background-color: #1e1e2f;
  box-shadow: none;
  z-index: 1100 !important;  /* Ensure it stays on top */
  position: sticky !important;
  top: 0;
}

.toolbar {
  color: #1e1e1e;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #ffffff;
  justify-content: space-around;
}

.navButton:hover {
  background-color: rgba(255, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.navbarTitle {
  color: rgb(10, 131, 46);
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.navButton {
  margin-left: 10px;
  font-weight: 600;
  text-transform: none;
}

.drawerList {
  width: 200px;
  padding: 20px;
  background-color: #f5f5f5;
  height: 100%;
}

.drawerListItem {
  padding: 10px 0;
}

.drawerLink {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: block;
}

.drawerItemText {
  font-size: 16px;
}
